.pokemon-details-wrapper {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-details-name {
  font-size: x-large;
  color: black;
  margin-top: 0.8rem;
}

.pokemon-details-name > span {
  letter-spacing: 0.5rem;
  font-size: 2.3rem;
  text-transform: uppercase;
}

.pokemon-details-types {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-size: larger;
}

.pokemon-details-types div {
  border: 1px solid gainsboro;
  border-radius: 12px;
  padding: 7px 16px;
  background-color: #b0b0b0;
  color: black;
  
}

.pokemon-details-image {
  margin-top: 1rem;
  max-height: 200px;
}
