.pokemon-list-wrapper {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.controls button {
  font-size: 21px;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  background-color: #494949;
  color: white;
  border: none;
  border-radius: 8px;
}

.controls button:hover {
  background-color: #3a3a3a;
  transition: all ease-in-out 0.3s;
}
